@charset "utf-8";

/*
 *
 * CSS CONTENTS:
 *
 * 01. Web Font
 * 02. Type Selector Reset
 * 03. Accessibility Navigation
 * 04. Layout Selector
 * 05. Components
 * 06. Entry Content
 * 07. Comment
 * 08. Aside(sidebar)
 * 09. ETC
 * 10. Option(Color Type & List Type)
 * 11. Retina Display
 * 12. Media Screen
 *
 */

/* Web Font Load */
/* @import url('https://tistory2.daumcdn.net/tistory/5323807/skin/images/BMHANNAProOTF.otf'); */

@font-face {
  font-family: "BM Jua";
  src: url("BMJUA_otf.otf");
}
/* Type Selector Reset */
body {
  font-family: "BM Jua", sans-serif;
  font-size: 1.5em;
  color: white;
  background: black;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  overflow: visible;
  cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
}
input,
select,
textarea,
button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 100%;
  border-radius: 0;
}
button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
ul li {
  list-style: none;
}
img,
fieldset {
  border: none;
  vertical-align: top;
}
hr {
  display: none;
}
a,
a:link {
  text-decoration: none;
  color: #555;
}
a:visited {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: #222;
}
a:active {
  text-decoration: none;
}

.wrap {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item:nth-child(1) {
  flex-grow: 1;
  border-right: 1px solid rgb(70, 70, 70);
  text-align: right;
  padding: 20px;
  height: 100vh;
}
.item:nth-child(2) {
  flex-grow: 0.7;
  max-width: 900px;
}

.item:nth-child(2) > header {
  padding: 20px 40px;
  border-bottom: 1px solid rgb(70, 70, 70);
}
.item:nth-child(2) > .post {
  padding: 40px;
}
.item:nth-child(2) > .post > h1 {
  font-size: 3rem;
  color: #2ac1bc;
  margin-bottom: 40px;
}
.item:nth-child(2) > .post > p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 25px;
  letter-spacing: 1px;
}

.item:nth-child(3) {
  flex-grow: 1;
  border-left: 1px solid rgb(70, 70, 70);
  text-align: left;
  padding: 20px;
  height: 100vh;
}

.item:nth-child(3) > .search-wrap {
  display: flex;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 20px;
  width: 200px;
}
.search-wrap > .search-div {
  display: inline-block;
}
.search-wrap > .search-icon {
  padding: 7px 7px 6px 8px;
  display: block;
}
.search-wrap > .search-input {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  margin-right: 20px;
  width: 200px;
  padding: 8px 0 11px;
  color: rgb(255, 255, 255);
  background: black;
  border: none;
}

/* 모바일 가로 화면 */
@media (max-width: 767.98px) {
  .container {
    flex-direction: column;
  }
  .item:nth-child(1) {
    display: none;
    height: 20px;
    padding: 20px;
    border-right: none;
    border-bottom: 1px solid rgb(70, 70, 70);
  }
  .item:nth-child(3) {
    border-left: none;
    border-top: 1px solid rgb(70, 70, 70);
    height: 100%;
  }
  /* 코드 작성 */
}
/* 태블릿(갤럭시 탭, 아이패드) 화면 */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* 코드 작성 */
}
/* PC 화면 1200px 이하 */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* 코드 작성 */
}
/* PC 화면 1200px 이상 1920px 이하 */
@media (min-width: 1200px) and (max-width: 1919.99px) {
  /* 코드 작성 */
}
/* PC 화면 1920px 이상 */
@media (min-width: 1920px) {
  /* 코드 작성 */
}
